version: "3.8"
services:
  loki:
    image: grafana/loki:2.9.1
    container_name: loki
    restart: unless-stopped
    volumes:
      - ./data:/loki
      - ./config:/etc/loki
    ports:
      - "3100:3100"

  grafana:
    image: grafana/grafana:9.0
    container_name: grafana
    restart: unless-stopped
    volumes:
      - ./data:/var/lib/grafana
    ports:
      - "3000:3000"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  promtail:
    image: grafana/promtail:2.9.1
    container_name: promtail_observability
    restart: unless-stopped
    volumes:
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - ./config/promtail.yaml:/etc/promtail/promtail.yaml:ro
